{% load static %}
{% load bootstrap5 %}



    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
  
      <div class="sidebar-heading">
                  <img class="rounded-circle mr-2" src="" height ='30px' width='30px'  alt="" >  <b></b>
                <img class="rounded-circle mr-2" src="{% static 'images/logo.jpg' %}" height ='30px' width='30px'  alt="" > <b></b>
              </a></div>
      <div class="list-group list-group-flush">
                 <a class="list-group-item list-group-item-action bg-light">Profile</a>
                <a class="list-group-item list-group-item-action bg-light"> Edit profile</a>
                <a class="list-group-item list-group-item-action bg-light" >Log Out</a>
              
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    
    <!-- /#page-content-wrapper -->

  <!-- /#wrapper --