{% extends "django_registration/base.html"%}
{% load bootstrap5 %}
{%load static%}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 mt-5">
      <div class="card mt-5" style="width: 28rem;">
        <div class="card-body text-center">
          <h5 class="card-title" style="font-family: 'apercu',sans-serif">Have an account already?</h5>
          <a href="/accounts/login" class="btn btn-primary btn-sm" style="font-family: 'apercu',sans-serif">Login</a>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-5 mt-5">
      {% if form.errors %}
      <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card border-primary mb-4" style="max-width:35rem;">
        <div class="card-body text-primary">
          <form action="/accounts/register/" method="post" style="font-family: 'apercu',sans-serif; font-size: 20px;">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-3">
    <div class="col-md-12">
      <h6 class="copyright" style="font-size: 12px;"> <strong>© 2021 Olive Wangui</strong> </h6>
    </div>
  </div>
</div>
{% endblock %}
